[Desktop Entry]
Name=Xye
Comment=Puzzle Game
Comment[pl]=Gra logiczna
Exec=xye
Icon=xye
Terminal=false
Type=Application
Categories=Game;LogicGame;
# vi: encoding=utf-8
